{
  "excludePatterns": [
    "**/mock/**",
    "**/tests/**"
  ],
  "aliases": {
    "@": "src",
    "@components": "src/components",
    "@utils": "src/utils",
    "@pages": "src/pages",
    "~": "."
  }
} 